#Base
**/Build*/
/Speedie.scproj/Terminal/
cpp.hidden
.DS_Store
xcuserdata/
*nogit
*.mz
*.note
*(ignored)*
**/.gitignore

/Library/*.jbin
**/*.input/garbage.jb
*.app
Utils/jz

#Examples
/FirstProj*
/examples/**/books.box
**/speedie2.xcodeproj

#Terminal
/Terminal/Backup/
/Terminal/Debug/
/Terminal/Speedie*
/Terminal/Build*
/Terminal/*.sh
*.scproj/Cpp/
**/DerivedData/
*.args

#Stuff
Speedie.scproj/Speedie.xcodeproj/xcshareddata/xcschemes/Update.xcscheme
*.xcscheme
examples/prototest.spd
examples/prototest
*.strings.txt
examples/encoding_test(ignore).spd
Library/CppLib/spdsort/spdsort.xcodeproj/*

#Cpps
Library/CppLib/spdsort/spdsort.cpp
jeebox.scproj/Cpp/JB.cpp
jeebox.scproj/Cpp/JB.h
jeebox.scproj/Cpp/JB_Globals.cpp
/Examples/(experimental)
Examples/books_xml/books.box
*.zpd
/Bangle
Utils/CompilerTest
Speedie.scproj/.strings.txt
*.cake
/Documentation/CppComparison/*
Terminal/Cake
