**/Build*/
/Speedie.scproj/Terminal/
cpp.hidden
.DS_Store
xcuserdata/
**/src.nogit/
/Library/*.jbin
**/*.input/garbage.jb

#Examples
/FirstProj*
/examples/**/books.box

#Terminal
/Terminal/Backup/
/Terminal/Debug/
/Terminal/Speedie*
/Terminal/Build*
/Terminal/*.sh
*.scproj/Cpp/
**/DerivedData/
**/.todo
