**/Build/
**/BuildTest/
**/BuildTest2/
/Speedie.scproj/Terminal/
cpp.hidden
.DS_Store
xcuserdata/
**/src.nogit/
/Library/*.jbin
**/*.input/garbage.jb
/FirstProj*
/Terminal/Backup/
/Terminal/Debug/
/Terminal/Build*
/Terminal/make.sh
*.scproj/Cpp/
**/.todo
